section {
    padding: 20px;
  }


#welcome {
    height: 600px;
    background-image: url("assets/pont.jpg");
    background-size: 1900px
}

h1 {
    color : white; 
    font-size: 50px; 
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin: 1%;
	text-align: center;
	color: #3a3a42;
	text-transform: uppercase;
}

.presentation {
    color: black;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    width: 40em
  }


.photo {
    display: flex;
    justify-content: space-around;
  }
  

.horaires {
    color: black;
    font-size: xx-large; 
    margin-left: auto;
    margin-right: auto;
    width: 40em
}
header {
  background-color: #007292;
  opacity: 0.8;
   color:white; 
  display: flex;
  align-items: center;
  justify-content:space-between;
   width: 100%;
  position:fixed;
}
.d-flex {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
nav > ul, .navbar {
  height: 60px;
}
nav > ul {
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.navbar {
  background-color: #007292;
  color: white;
  width: 70%;
  height: 50px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}
#logo{
  width: 100%;
  height:auto;
  max-width:60px;
}
#logo img{
  width: 100%;
  height: 100%;
}
.d-flex li {
  font-size: 1.5em;
  padding: 10px 15px;
  margin: 15px;
  text-transform: uppercase; 
  }

  .d-flex li a {
       color:white; 
      text-decoration: none;
  }
  #reservation {
      display: flex;
      list-style: none;
      text-decoration: none;
      align-items: center;
      background-color: white; 
      border: 1px solid black;
      border-radius: 5px;
      padding: 10px 15px;
      margin: 0 20px;
      font-size:1.5em;
      text-transform: uppercase; 
  }
  #reservation a {
      text-decoration: none;
       color:#007292; 
  }
.burger {
  display: none;
  
}
.burger-button {
  background-color:black;
  height:5px;
  width:80%;
  margin: 6px 5px;
}

/** contact begin **/

p {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #333333;
}


.container-box {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 3%;
    margin: 0px 10%;
	border-top: 1px solid grey;
	height: auto;
}

.box-address {
	width: 50%;
	min-width: 50%;
	padding: 2%;
	border: 1px solid grey;
}

.link {
	color: #007292;
	text-decoration: none;
}

.link:hover{
	color: #A3BAC0;
	font-weight: bold;
}

.name-place {
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 24px;
	padding: 10px;
	color: #464646;
}

.maps {
	width: auto;
	max-height: 80px;
	display: inline-flex;
	flex-wrap: wrap;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	width: auto;
	box-sizing: border-box;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	color:#777;
	background-color:#ffffff;
}

.container-form {
	min-width: 300px;
	max-width: 600px;
	width:100%;
	margin: auto;
	display: flex;
}

#contact, #contact input {
	background:#F9F9F9;
	padding: 35px;
}

#contact h3 {
	color: #464646;
	font-size: 24px;
}

#contact h4 {
	margin:15px 0 18px;
	font: 13px;
}

label {
	margin: 0 0 10px;
	width: 100%;
}

#contact input, #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 10px;
	padding:10px;
	font-size: 16px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#contact textarea {
	height:200px;
	max-width:auto;
}

#contact-submit {
	cursor: pointer;
	width: 100%;
	border-radius: 12px;
	background: #007292;
	color:#FFF;
	padding: 2%;
	font-size: 18px;
}

#contact button:hover {
	background: #4D8CAA;
}

#contact button:active {
	background-color: #2D7293;
}

/* POP-UP */
.popup {
	margin: 50px auto;
	padding: 20px;
	background: #A3BAC0;
	border-radius: 15px;
	width: 40%;
	position: relative;
  }

  .popup h2 {
	color: black;
	font-size: 22px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.popup .close {
  top: 40px;
	right: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #333;
}

.popup .close:hover {
  color: #007292;
}

.popup .content {
  max-height: 30%;
	overflow: auto;
}
/** contact end **/
  
/** FOOTER Begin **/
.bloc-footer
{
    display: flex;
    position:relative;
    border: 1px solid black;
    height: 100px;
    margin-top:100px;
    justify-content: space-around;
    background-color:#007292;
    
  }
  .blocs 
  {
    width: 100px;
    height: 100px;
    margin-bottom:100px;
  }

  .blocs-adress
  {
      margin-top:20px;
  }

  .blocs-Logo 
  {
    margin-top: 20px;
}
  .blocs-contact 
  {
      margin-top: 20px;
      display:flex;
      flex-direction:column;
  }

  .blocs-media
  {
     display:flex;
     justify-content: space-around;

  }

  .text-white {
    color: white;
  }
/** FOOTER end **/

/** Page Menus start**/

html, body {
  margin: 0;
  padding: 0;
  
}


    

.pic-ctn {
 
  width: 100vw;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(0);
    opacity: 0;
  }
  40% {
    transform: translateX(-200px);
    opacity: 0;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 1250px;
  height: 500px;
 
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 14s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}
img:nth-child(6) {
  animation-delay:10s;
}
img:nth-child(7) {
  animation-delay: 12s;
}

h1 {
  text-align: center;
  font-style: italic;
  display: block;
  font-size: 50px;
    margin-block-start:0px ;
    margin-block-end: 20 px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
  display: flex;
  justify-content: center;
}
 
#navMenus {
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  text-align: center ;
}

#navMenus li {
  display: inline ;
  margin-right: 1px ;
  color: black ;
  font-size: 30px;
  
 }

#navMenus li a {
 
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
  padding: 150px  ;
  font-style: italic;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6;
}

/**Page Menus end**/


@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}

  @media screen and (max-width: 700px){
	.box{
	  width: 70%;
	}
	.popup{
	  width: 70%;
	}
}
  

@media screen and (max-width: 700px) {
  header {
      width: 97%;
      border: 2px solid #007292;
      border-radius: 10px;
      justify-content:space-between;
  }
  .navbar {
      display: none;
  }
  .burger{
      display: inline-block;
      cursor: pointer;
      border: 3px solid black;
      height: 40px;
      width: 50px;
      justify-content:center;
      align-content:space-between;
          }
  nav > ul {
      display:block;
      flex-direction:column;
      height:auto;


  }
  .d-flex li {
      font-size: 1em; 
      padding: 4px;
      margin: 0px; 

           
  }
  #reservation {
      width: auto;
      padding: 5px;
      margin: 5px;
      font-size: 1em;
  }
}
.d-block {
  display: block;
  height: 100px;
  width:auto;
}
