@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {

    color:#777;
    background-color:#ffffff;
}


/**page accueil begin **/

.contact-title {
    padding-top: 60px;
  }

#welcomepage {
    height: 600px;
    background-image: url("assets/pont.jpg");
    background-size: 1900px;
    padding: 25px;
}

.welcome {
    color : white;
    font-size: 50px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleh2 {
    font-size: 40px;
    color: #007292;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentationtime {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: darkslategrey;
    font-size: 25px;
    padding: 0 250px;
}

.photo {
    display: flex;
    justify-content: space-around;
    height: 250px;
  }

.photovalet {
    display: flex;
    justify-content: center;
    padding-block-end: 100px;
}


header {
  background-color: #007292;
  opacity: 0.8;
   color:white;
  display: flex;
  align-items: center;
  justify-content:space-between;
   width: 100%;
  position: sticky;
    top: 0;
    z-index: 5;
}
.d-flex {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
nav > ul, .navbar {
  height: 60px;
}
nav > ul {
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.navbar {
  background-color: #007292;
  color: white;
  width: 70%;
  height: 50px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}
#logo{
  width: 100%;
  height:auto;
  max-width:60px;
}
#logo img{
  width: 100%;
  height: 100%;
  border-radius: 30px;

}
.d-flex li {
  font-size: 1.5em;
  padding: 10px 15px;
  margin: 15px;
  text-transform: uppercase;
  }
  .d-flex li a {
       color:white;
      text-decoration: none;
  }
.d-flex li a:hover {
    font-size: 1.6em;
    text-decoration: underline;
    transition-duration: 500ms;
}
  #reservation {
      display: flex;
      list-style: none;
      text-decoration: none;
      align-items: center;
      background-color: white;
      border: 1px solid black;
      border-radius: 5px;
      padding: 10px 15px;
      margin: 0 20px;
      font-size:1.5em;
      text-transform: uppercase;
  }
  #reservation a {
      text-decoration: none;
       color:#007292;
  }
#reservation a:hover{
    font-size:1.5em;
    transition-duration: 500ms;}
.burger {
  display: none;

}
.burger-button {
  background-color:black;
  height:5px;
  width:80%;
  margin: 6px 5px;
}

/** contact begin **/

.contact {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #333333;
}

p {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #333333;
}

.subtitle {
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.container-box {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 3%;
    margin: 0px 10%;
	border-top: 1px solid grey;
	height: auto;
}

.box-address {
	width: 50%;
	min-width: 50%;
	padding: 2%;
	border: 1px solid grey;
}

.link {
	color: #007292;
	text-decoration: none;
}

.link:hover{
	color: #A3BAC0;
	font-weight: bold;
}

.name-place {
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 24px;
	padding: 10px;
	color: #464646;
}

.maps {
	width: 300px;
	max-height: 80%;
	display: inline-flex;
	flex-wrap: wrap;
}

/* FORMULAIRE */

.container-form {
    min-width: 300px;
    max-width: 700px;
	width: 100%;
    display: flex;
	margin: auto;
}

#contact, #contact input {
	background:#F9F9F9;
	padding: 15px 25px;
}

#contact h2 {
	color: #464646;
	font-size: 24px;
}

#contact h4 {
	margin:15px 0 18px;
	font-size: 13px;
}

label {
	margin: 0 10px;
	width: 50%;
}

#contact input, #contact textarea {
	width:95%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 10px;
	padding:10px;
	font-size: 16px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#contact textarea {
	height: 200px;
	max-width: 100%;
}

#contact-submit {
	cursor: pointer;
	width: 100%;
    justify-content: center;
	border-radius: 12px;
    border-color: #007292;
	background: #007292;
    color: white;
	padding: 15px;
	font-size: 18px;
}

#contact button:hover {
	background: #4D8CAA;
}

#contact button:active {
	background-color: #2D7293;
}

/* POP-UP */

/** contact end **/

/** reservation begin **/

.container-reservation {
    display: block;
}
.container-form {
    justify-content: center;
    font-size: 1.2em;
    color: #007292;
}
.container-form div {
    justify-content: center;
    margin: 5px;
}
 /** reservation end **/


/** FOOTER Begin **/
.bloc-footer
{
    display: flex;
    position:relative;
    border: 1px solid black;
    height: 100%;
    margin-top:100px;
    justify-content: space-around;
    background-color:#007292;
    
  }
  .blocs
  {
    width: 100px;
    height: 100px;
  }

  .blocs-adress
  {
      margin-top:20px;
  }

  .blocs-adress p
  {
    color:white;
  }

  .blocs-Logo
  {
    margin-top: 60px;
}
  .blocs-contact
  {
      margin-top: 20px;
      display:flex;
      flex-direction:column;
  }

  .blocs-media
  {
     display:flex;
     justify-content: space-around;

  }

  .text-white {
    color: white;
  }
/** FOOTER end **/

/** Page Menus start**/

html, body {
  margin: 0;
  padding: 0;

}

.pic-ctn {
    display: block;

}

.pic-mobile {
    display: none;
    }

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(0);
    opacity: 0;
  }
  40% {
    transform: translateX(-200px);
    opacity: 0;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 1250px;
  height: 500px;
  margin-top: 50px;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 14s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}
img:nth-child(6) {
  animation-delay:10s;
}
img:nth-child(7) {
  animation-delay: 12s;
}




#navMenus {
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  text-align: center ;

}

#navMenus li {
  display: inline ;
  margin-right: 1px ;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: darkslategrey;
    font-size: 25px;
    padding: 0 250px;
 }

#navMenus li a {

  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
  padding: 150px  ;
  font-style: italic;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6;
}

/**Page Menus end**/


@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}

  @media screen and (max-width: 700px){
	.box{
	  width: 70%;
	}
	.popup{
	  width: 70%;
	}
}

@media screen and (max-width: 900px) {
  header {
      width: 97%;
      height: auto;
      margin: 1%;
      border: 2px solid #007292;
      border-radius: 10px;
      justify-content:space-between;
  }
  .navbar {
      display: none;
  }
  .burger{
      display: inline-block;
      cursor: pointer;
      border: 3px solid black;
      border-radius:10px;
      box-shadow:0px 6px 10px black;
      height: 40px;
      width: 50px;
      justify-content:center;
      align-content:space-between;
  }
  nav > ul {
      display: block;
      flex-direction: column;
      height: auto;
  }

  .photo {
        flex-direction:column;
        height:auto;
    }

    .photo img {
        margin :5px;
    }
    .photovalet {
        width:auto;
        height:150px;
  }
  .d-flex li {
      font-size: 1em;
      padding: 4px;
      margin: 0px;


  }
  #reservation {
      width: auto;
      padding: 5px;
      margin: 5px;
      font-size: 1em;
  }
  .presentationtime {
      padding: 10px;
    }
}



@media screen and (max-width: 813px) {
section {
padding-top: 80px;
}

.container-box {
    align-items:center;
    display: flex;
    padding: 10px 50px;
}
.box-address{
    margin: 10px;
}

.maps {
    margin: 10px;
}
}

@media screen and (max-width: 800px) {
    .pic-ctn {
        display : none;
    }
    .pic-mobile {
        display : block;
    }
}


@media screen and (max-width: 700px) {
  .footer {
    width:97%;
    margin:5px;
  }
  .bloc-footer{
    flex-direction:column;
  }
}
.d-block {
  display: block;
  height: auto;
  width:auto;
}
  .blocs-Logo{
    margin:auto;
  }

.container-box {
    flex-wrap: wrap;
    padding: 35px;
}

.box{
    width: 70%;
  }




